       @import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css');

       @font-face {
           font-family: 'FuturaPT-Heavy';
           src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.otf') format('opentype'),
           url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype'), url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       @font-face {
           font-family: 'FuturaPT-Medium';
           src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Medium.otf') format('opentype'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype'), url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       ::selection {
           background: rgba(14, 120, 174, 0.6);
           color: #fff;
       }

       ::-moz-selection {
           background: rgba(14, 120, 174, 0.6);
           color: #fff;
       }

       a {
           transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
           text-decoration: none;
       }

       a:hover,
       a:focus {
           text-decoration: none;
       }

       *:focus {
           outline: none !important
       }

       img {
           max-width: 100%
       }

       strong,
       b {
           font-weight: 700;
       }

       i,
       em {
           font-style: italic;
       }

       .clr {
           border: 0;
           clear: both;
           height: 0;
       }

       .display-table {
           display: table;
           height: 100%;
           text-align: center;
           width: 100%;
       }

       .table-cell {
           display: table-cell;
           vertical-align: middle;
       }

       html,
       body {
           width: 100%;
           height: 100%;
       }

       h1,
       h2,
       h3,
       h4,
       h5,
       h6,
       p {
           font-weight: normal;
           margin: 0;
       }

       ul,
       li {
           list-style: none;
           padding: 0;
           margin: 0;
       }

       .display-table {
           display: table;
           height: 100%;
           text-align: center;
           width: 100%;
       }

       .table-cell {
           display: table-cell;
           vertical-align: middle;
       }

       .preloader {
           background: #f8f8f8 none repeat scroll 0 0;
           bottom: 0;
           left: 0;
           position: fixed;
           right: 0;
           top: 0;
           z-index: 999999;
           height: 100%;
           width: 100%;
       }

       .preloader span {
           display: block;
           height: auto;
           margin: auto;
           width: 400px;
           color: #000;
       }

       body {
           background: #fff;
           -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
           overflow-x: hidden;
           font-weight: normal;
           font-family: 'Open Sans', sans-serif;
           font-weight: 400;
           padding: 0 !important;
       }

       p {
           font-size: 16px;
           color: #58585a;
           font-weight: 300;
           line-height: 1.6;
       }

       header {
           transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
           background: #fff;
       }

       .hdr_top {
           border-bottom: 1px solid #dedede;
           width: 100%;
           display: block;
       }

       .hdr_top_info {
           float: right;
           width: auto;
       }

       .srch {
           float: left;
           width: 340px;
           border-left: 1px solid #dedede;
       }

       .srch input {
           width: 300px;
           height: 42px;
           border: 0 none;
           background: #fff;
           float: left;
           padding: 0 20px;
       }

       .srch button {
           float: left;
           width: 30px;
           background: none;
           color: #148fcf;
           border: 0 none;
           box-shadow: none;
           height: 40px;
       }

       .hdr_top_info ul {
           float: left;
       }

       .hdr_top_info ul li {
           float: left;
           font-size: 16px;
           border-left: 1px solid #dedede;
       }

       .hdr_top_info ul li:last-child {
           border-right: 1px solid #dedede;
       }

       .hdr_top_info ul li p {
           display: inline-block;
           vertical-align: middle;
       }

       .hdr_top_info ul li span {
           display: inline-block;
           width: auto;
           vertical-align: top;
           margin: 0 5px 0 0;
           height: auto;
           overflow: hidden;
       }

       .hdr_top_info ul li span img {
           width: 20px;
           height: 20px;
       }

       .hdr_top_info ul li a {
           color: #58585a;
           padding: 8px 15px;
           display: block;
       }

       .hdr_top_info ul li:last-child img {
           width: 22px;
       }

       .nav_part {
           display: block;
           width: 100%;
           padding: 20px 0;
           transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
       }

       .nav_part .logo {
           float: left;
           transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
       }

       .nav_part nav {
           float: right;
           position: relative;
       }

       .nav_part ul {

           transition: all 0.3s ease;
           -webkit-transition: all 0.3s ease;
           margin: 19px 0 0;
       }

       .nav_part ul li {
           float: left;
           margin: 0 0 0 78px;
           text-transform: uppercase;
           font-size: 17px;
       }

       .nav_part ul li a {
           color: #58585a;
       }

       .nav_part ul li.current-menu-item a,
       .nav_part ul li a:hover,
       .nav_part ul li a:focus {
           color: #148fcf;
       }

       .nav_part ul li:nth-child(2) {
           position: relative;
       }

       .nav_part ul li:nth-child(2) .submenu {
           width: 290px;
           text-align: left !important;
           top: 61px;
       }

       .nav_part ul li:nth-child(2) .submenu li {
           text-align: left;

           width: 100%;
       }

       .nav_part ul li:nth-child(2) .submenu li a {
           padding: 10px;
       }

       .nav_part ul li:nth-child(2) .submenu li a h3 {
           font-size: 18px;
           font-weight: 400;
       }

       .submenu {
           position: absolute;
           top: 80px;
           z-index: 10;
           width: 100%;
           left: 0;
           margin: 0;
           background: #fff;
           display: none;
           margin: 0 !important;
       }

       .submenu li a figure {
           width: 100px;
           margin: 0 auto 5px;
           height: 60px;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
       }

       .submenu li {
           margin: 0 !important;
           text-align: center;
           text-transform: capitalize !important;
           font-size: 20px !important;
           font-weight: 600 !important;
           width: 20%;
       }

       .submenu li:last-child {
           margin: 0 !important;
       }

       .caret {
           display: inline-block;
           width: 17px;
           height: 23px;
           margin-left: 2px;
           vertical-align: middle;
           position: relative;
           border: 0 none;
           cursor: pointer;
       }

       span.caret:before {
           position: absolute;
           content: "\f107";
           font-family: fontawesome;
           font-size: 22px;
           color: #148fcf;
           top: -4px;
           right: 0;
       }

       .submenu li a {
           display: block;
           padding: 20px 10px;
       }

       .submenu li a:hover {
           background: #f5f5f5;
       }

       .submenu li a h3 {
           font-size: 20px;
           color: #58585a;
           font-weight: 600;
       }

       /*************************************************header sticky************************************************************/

       header.sticky {
           position: fixed;
           box-shadow: 0 0 8px #000;
           top: 0;
           width: 100%;
           z-index: 999;
       }

       header.sticky .nav_part .logo {
           width: 220px;
       }

       header.sticky .nav_part {
           padding: 10px 0;
       }

       header.sticky .nav_part ul {
           margin: 11px 0 0;
       }

       header.sticky .nav_part ul li {
           font-size: 14px;
       }

       header.sticky .submenu {
           top: 51px;
       }

       header.sticky .nav_part ul li:nth-child(2) .submenu {
           top: 40px;
       }

       header.sticky .submenu li a h3 {
           font-size: 17px;
       }

       .home-banner {
           height: 755px;
           position: relative;
           overflow: hidden;
       }

       .home-banner .container,
       .page-banner .container {
           position: relative;
           height: 100%;
       }

       .drone_img {
           position: absolute;
           left: -50px;
           width: 58%;
           top: 20%;
       }

       .info_caption {
           position: absolute;
           top: 50%;
           right: 15px;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           width: 555px;
       }

       .info_caption h2 {
           color: #fff;
           font-weight: 700;
           text-transform: uppercase;
           font-size: 34px;
           line-height: 1.4;
           letter-spacing: 2px;
       }

       .info_caption h3 {
           color: #fff;
           font-weight: 600;
           text-transform: uppercase;
           font-size: 50px;
           line-height: 1.4;
       }

       .info_caption a {
           width: auto;
           display: inline-block;
           margin: 0 11px 0 0;
       }

       .info_caption a img {
           width: 50px;
           margin: -3px 0 0;
       }

       .info_caption h1 {
           color: #fff;
           text-transform: uppercase;
           font-size: 71px;
           margin: 15px 0 0;
           letter-spacing: 3px;
           font-weight: 700;
       }

       .info_caption h1 small {
           color: #fff;
           font-size: 41px;
           display: block;
           letter-spacing: 17.4px;
           font-weight: 700;
       }

       .about_us {
           padding: 80px 0;
           position: relative;
       }

       .title {
           color: #58585a;
           text-transform: uppercase;
           font-size: 51px;
           line-height: 1.4;
           letter-spacing: 3px;
       }

       .about_us h2 {
           margin: 0 0 20px;
           font-weight: 600;
       }

       .about_us p {
           font-size: 16px;
           color: #58585a;
           font-weight: 300;
           margin: 0 0 20px;
           line-height: 1.6;
       }

       .about_us p:last-of-type {
           margin: 0;
       }

       .abt_img {
           position: absolute;
           left: 60px;
           width: 37%;
       }

       .abt_cntent {
           width: 60%;
           float: right;
       }

       .btn1,
       .btn2 {
           display: inline-block;
           width: 185px;
           height: 55px;
           line-height: 55px;
           text-align: center;
           padding: 0 5px;
           font-size: 15px;
           text-transform: uppercase;
           margin: 25px 0 0;
           position: relative;
           font-family: 'FuturaPT-Heavy';
       }

       .btn1 {
           border: 1px solid #e5e5e5;
           margin: 0 20px 0 0;
           color: #148fcf;
       }

       .btn2,
       .btn1:hover,
       .btn1:focus {
           border: 1px solid #148fcf;
           background: #148fcf;
           color: #fff;
       }

       .btn2:hover,
       .btn2:focus {
           border: 1px solid #777;
           background: #777;
           color: #fff;
       }

       .btn1:hover,
       .btn2:hover {
           border-radius: 5px;
       }

       .our_services {
           padding: 85px 0;
           position: relative;
           text-align: center;
       }

       .our_services:before {
           height: 100%;
           width: 100%;
           top: 0;
           position: absolute;
           background: #fff;
           opacity: 0.9;
           content: "";
           left: 0;
           right: 0;
       }

       .our_services.srvc_inner::before {
           background: #148fcf;
       }

       .our_services h2 {
           margin: 0 0 60px;
       }

       .our_services .container {
           position: relative;
           z-index: 1;
       }

       .box {
           height: 280px;
           border: 1px solid #727476;
           width: 100%;
       }

       .our_services h3 {
           font-size: 20px;
           color: #58585a;
           font-weight: 600;
           text-transform: uppercase;
           margin: 25px 0 0;
           line-height: 1.5;
       }

       .box figure {
           height: 120px;
           width: 100%;
           position: relative;
       }

       .box img {
           width: 90px;
           position: absolute;
           left: 0;
           right: 0;
           top: 50%;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           margin: auto;
       }

       .our_products {
           padding: 75px 0;
           background: #1e90cf;
       }

       .our_products .title {
           text-align: center;
           margin: 0 0 52px;
           color: #fff;
       }

       .box15 {
           text-align: center;
       }

       .box15 figure {
           background: #fff;
           border: 3px solid #fff;
           width: 140px;
           height: 140px;
           border-radius: 50%;
           text-align: center;
           margin: 0 auto 25px;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
       }

       .box15 a {
           font-size: 20px;
           color: #fff;
           font-weight: 600;
           font-family: 'Open Sans', sans-serif;
           text-transform: uppercase;
       }

       .box15:hover figure,
       .box15:focus figure {
           border-color: #58585a;
           border-radius: 35px;
       }


       footer {
           background: #1e1e1e;
           padding: 68px 0 0;
       }

       footer h2 {
           font-weight: 600;
           color: #fff;
           text-transform: uppercase;
           line-height: 1.4;
           margin: 0 0 15px;
           font-size: 18px;
       }

       footer ul {
           margin: 0;
           padding: 0;
       }

       footer ul li {
           color: #fff;
           font-weight: 300;
           text-transform: capitalize;
           font-size: 15px;
           line-height: 1.4;
           margin: 0 0 10px;

       }

       footer ul li a {
           color: #fff;
       }

       footer ul li a:hover,
       footer ul li a:focus {
           color: #148fcf;
       }

       .foot-box1 ul li {
           width: 49%;
           display: inline-block;
       }

       .cvr {
           width: 100%;
           overflow: hidden;
       }

       .foot-box2 {}

       .foot-box2 ul li {
           width: 50%;
           float: left;
       }

       .foot-box3 {}

       .newsletter_subscription {}

       .newsletter_subscription input[type="email"] {
           width: 100%;
           height: 51px;
           padding: 0 15px;
           border: 0 none;
           background: #fff;
           color: #6e6e6e;
           font-weight: 300;
           font-size: 16px;
           border: 2px solid #fff;
       }

       .newsletter_subscription input[type="email"]:focus {
           border: 2px solid #148fcf;
       }

       .newsletter_subscription input[type="button"],
       .newsletter_subscription input[type="submit"] {
           color: #fff;
           font-size: 15px;
           background: #148fcf;
           height: 55px;
           font-family: 'FuturaPT-Heavy';
           text-transform: uppercase;
           width: 100%;
           border: 0 none;
           margin: 15px 0 0;
           transition: all 0.5s ease-in-out;
           -webkit-transition: all 0.5s ease-in-out;
       }

       .newsletter_subscription input[type="button"]:hover,
       .newsletter_subscription input[type="button"]:focus,
       .newsletter_subscription input[type="submit"]:hover,
       .newsletter_subscription input[type="submit"]:focus {
           box-shadow: 470px 0 #0c78b0 inset;
       }

       .social_connects ul li {
           display: inline-block;
           margin: 0 -1px 0;
       }

       .social_connects ul li a {
           display: block;
           width: 50px;
           height: 50px;
           text-align: center;
           background: #5b5b5b;
           line-height: 50px;
           color: #bdbdbd;
           font-size: 20px;
       }

       .social_connects ul li a:hover,
       .social_connects ul li a:focus {
           color: #fff;
           background: #148fcf;
       }

       .social_connects {
           margin: 48px 0 0;
           text-align: center;
       }

       .social_connects h2 {
           margin: 0 0 24px;
       }

       .copyright_div {
           border-top: 1px solid #353535;
           margin: 60px 0 0;
           padding: 30px 0 25px;
       }

       .copyright_div p,
       .copyright_div a {
           color: #fff;
           font-size: 15px;
       }

       .pwrd_by a {
           color: #2ca9e1;
       }

       .pwrd_by a:hover,
       .pwrd_by a:focus {
           color: #fff;
       }

       .copyright_div ul {
           text-align: center;
       }

       .copyright_div ul li {
           display: inline-block;
           line-height: normal;
       }

       .copyright_div ul li a {
           border-right: 2px solid #a2a2a2;
           padding: 0px 10px;
           line-height: normal;
       }

       .copyright_div ul li:last-child a {
           border-right: 0 none;
           padding-right: 0;
       }

       .copyright_div ul li:first-child a {
           padding-left: 0;
       }

       .copyright_div .scl_links {
           margin: -2px 0px 0 0;
           float: right;
       }

       .copyright_div .scl_links li {
           margin: 0 0 0 10px;
       }

       .copyright_div .scl_links li a {
           padding: 0;
           font-size: 20px;
           border: 0 none;
       }

       .blog_section {
           background: #f5f4f4;
           padding: 52px 0;

       }

       .blog_section h2 {
           margin: 0 0 35px;
       }

       .full_box {
           width: 100%;
           margin: 0 0 4px;
           overflow: hidden;
       }

       .first_half {
           float: left;
           width: 49.7%;
           position: relative;
       }

       .second_half {
           float: right;
           width: 49.7%;
           position: relative;
       }

       .full {
           position: relative;
           width: 100%;
           display: block;
       }

       .hvr {}

       .full_box h3 {
           position: absolute;
           background: rgba(20, 143, 207, 0.8);
           color: #fff;
           font-weight: 600;
           font-size: 20px;
           text-transform: uppercase;
           width: 100%;
           padding: 15px 10px;
           bottom: -57px;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
       }

       .hvr:hover h3 {
           bottom: 0;
       }

       .our_blog {}

       .outer {
           margin: 0 auto;
           max-width: 800px;
           background: #fff;
       }

       #big .item {
           background: none;
           padding: 0px;
           color: #FFF;
           border-radius: 3px;
           text-align: center;
       }

       #thumbs .item {
           background: #C9C9C9;
           height: auto;
           padding: 0px;
           margin: 2px 10px;
           color: #FFF;
           border-radius: 3px;
           text-align: center;
           cursor: pointer;
       }

       #thumbs .item h1 {
           font-size: 18px;
       }

       #thumbs .current .item {
           background: #FF5722;
       }

       #big .item:before {
           content: "";
           position: absolute;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.4);
           top: 0;
           left: 0;
           right: 0;
       }

       .owl-theme .owl-nav [class*='owl-'] {
           -webkit-transition: all .3s ease;
           transition: all .3s ease;
       }

       .owl-theme .owl-nav [class*='owl-'].disabled:hover {
           background-color: #D6D6D6;
       }

       #big.owl-theme {
           position: relative;
       }

       #big.owl-theme .owl-next,
       #big.owl-theme .owl-prev {
           background: none;
           width: 22px;
           line-height: 40px;
           height: 40px;
           margin-top: -20px;
           position: absolute;
           text-align: center;
           top: 50%;
           color: #fff;
       }

       #big.owl-theme .owl-prev {
           left: 10px;
       }

       #big.owl-theme .owl-next {
           right: 10px;
       }

       #thumbs.owl-theme .owl-next,
       #thumbs.owl-theme .owl-prev {
           background: none;
       }

       #thumbs {
           padding: 40px 50px;
       }

       .owl-prev {
           left: 20px;
           width: auto;
           position: absolute;
           font-size: 38px;
           top: 50%;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           color: #b2b2b2;
           font-weight: bold;
       }

       .owl-next {
           right: 20px;
           width: auto;
           position: absolute;
           font-size: 38px;
           top: 50%;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           color: #b2b2b2;
           font-weight: bold;
       }

       .date {
           position: absolute;
           right: 0;
           top: 0;
       }

       .date h4 {
           background: #148fcf;
           color: #fff;
           font-size: 39px;
           font-family: 'FuturaPT-Heavy';
       }

       .date h4 span {
           padding: 10px;
       }

       .date h4 small {
           font-size: 20px;
           color: #fff;
           background: #0e0e0e;
           display: block;
           font-weight: 300;
           font-family: 'Open Sans', sans-serif;
           padding: 4px 10px;
       }

       .blog_caption {
           position: absolute;
           bottom: 60px;
           left: 0;
           right: 0;
           max-width: 405px;
           width: 90%;
           margin: auto;
           text-align: center;
       }

       .blog_caption h3 {
           font-weight: 600;
           color: #fff;
           font-size: 20px;
           text-transform: uppercase;
           line-height: 1.3;
           margin: 0 0 8px;
       }

       .blog_caption p {
           font-weight: 300;
           color: #fff;
           font-size: 16px;
           line-height: 1.6;
       }

       .rd_more {
           display: inline-block;
           padding: 10px 20px;
           color: #fff;
           border: 1px solid #c8c8c8;
           text-transform: uppercase;
           font-weight: 600;
           font-size: 15px;
           margin: 20px auto 0;
       }

       .rd_more:hover,
       .rd_more:focus {
           background: #fff;
           color: #148fcf;
       }

       .page-banner {
           height: 510px;
           position: relative;
       }

       .about_us_section {
           padding: 90px 0 75px;
       }

       .about_us_section p {
           font-size: 16px;
           color: #58585a;
           font-weight: 300;
           margin: 0 0 20px;
           line-height: 1.6;
       }

       .about_img {
           float: right;
           width: 605px;
           padding: 0 30px 0 10px;
           position: relative;
           right: -72px;
       }


       .about_us_section .abt_cntent {
           float: left;
           width: 100%;
       }

       .blogs {
           padding: 80px 0;
       }

       .view_blogs {
           padding-right: 8%;
       }

       .blg_box {
           margin: 0 0 50px;
           overflow: hidden;
       }

       .blg_box figure {
           width: 100%;
           overflow: hidden;
           display: block;
       }

       .blg_box figure img {
           width: 100%;
       }


       .blg_box h2 {
           font-size: 35px;
           font-weight: 600;
           margin: 10px 0;
           color: #3a3a3a;
       }

       .blg_box h2 a {

           color: #3a3a3a;
       }

       .blg_box h2 a:hover,
       .blg_box h2 a :focus {
           color: #148fcf;
       }

       .blg_box ul {
           margin: 0;
           padding: 0;
           width: 100%;
           display: block;
       }

       .blg_box ul li {
           float: left;
           color: #707070;
           font-weight: 300;
           font-size: 16px;
           position: relative;
           margin-right: 40px;
       }

       .blg_box ul li:after {
           content: "";
           position: absolute;
           right: -20px;
           width: 1px;
           height: 17px;
           top: 3px;
           background: #b2b2b2;
       }

       .blg_box ul li::before {
           content: "";
           position: absolute;
           right: -21px;
           width: 1px;
           height: 17px;
           top: 3px;
           background: #cdcdcd;
       }

       .blg_box ul li:last-child {
           margin: 0;
       }

       .blg_box ul li:last-child:after,
       .blg_box ul li:last-child:before {
           display: none;
       }



       .blg_box p {
           color: #3a3a3a;
           font-weight: 300;
           font-size: 16px;
           line-height: 1.6;
           margin: 13px 0 25px;
       }

       .more {
           color: #148fcf;
           font-size: 16px;
           font-weight: 600;
           text-transform: capitalize;
       }

       .more:hover {
           font-style: italic;
           color: #148fcf;
       }

       .srch_div {
           border: 1px solid #e2e2e2;
           height: 54px;
           width: 100%;
       }

       .srch_div input {
           height: 52px;
           padding: 0 20px;
           border: 0 none;
           display: inline-block;
           width: 85%;
           vertical-align: middle;
       }

       .srch_div button {
           background: none;
           border: 0;
           color: #000;
           font-size: 20px;
           display: inline-block;
           width: 13%;
           vertical-align: middle;
       }

       .subscribe_btn {
           background: #148fcf;
           font-size: 25px;
           text-transform: uppercase;
           display: block;
           padding: 15px 3px;
           color: #fff;
           text-align: center;
           margin: 40px 0;
           font-family: 'FuturaPT-Medium';
           font-weight: normal;
       }

       .subscribe_btn.login_btn {
           margin-top: 0 !important;
       }

       .subscribe_btn:hover,
       .subscribe_btn:focus {
           background: #777777;
           color: #fff;
       }

       .categories {
           border: 1px solid #e2e2e2;
           padding: 25px;
       }

       .social_media {
           border: 1px solid #e2e2e2;
           padding: 25px;
           display: none;
       }

       .social_media h2,
       .categories h2 {
           color: #3a3a3a;
           font-size: 25px;
           text-transform: uppercase;
           position: relative;
           margin: 0 0 50px;
           font-family: 'FuturaPT-Medium';
           font-weight: normal;
       }

       .social_media h2:after,
       .categories h2:after {
           content: "";
           position: absolute;
           left: 0;
           bottom: -16px;
           background: #148fcf;
           width: 44px;
           height: 3px;
       }

       .categories ul {
           padding: 0;
           margin: 15px 0 0;
       }

       .categories ul li {
           width: 100%;
           font-size: 18px;
           font-family: 'FuturaPT-Medium';
           font-weight: normal;
           text-transform: capitalize;
           display: block;
           margin: 0 0 12px;
           position: relative;
           padding-left: 25px;
       }

       .categories ul li::before {
           content: "";
           position: absolute;
           top: 10px;
           width: 8px;
           height: 8px;
           left: 0;
           background: #148fcf;
           transform: rotate(45deg);
           -webkit-transform: rotate(45deg);
       }

       .categories ul li a {
           color: #3a3a3a;
       }

       .social_media ul {
           margin: 0;
           padding: 0;
       }

       .social_media ul li {
           width: 100%;
           font-size: 18px;
           font-family: 'FuturaPT-Medium';
           font-weight: normal;
           text-transform: capitalize;
           display: block;
           margin: 0 0 12px;
       }

       .social_media ul li a {
           color: #3a3a3a;
       }

       .social_media ul li a span {
           display: inline-block;
           width: 37px;
           height: 37px;
           text-align: center;
           line-height: 37px;
           font-size: 18px;
           vertical-align: middle;
           border: 1px solid #e2e2e2;
           margin: 0 22px 0 0;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
       }

       .social_media ul li a span.fb {
           color: #475993;
       }

       .social_media ul li a span.twt {
           color: #2c7ee6;
       }

       .social_media ul li a span.lnkdin {
           color: #0077b7;
       }

       .social_media ul li a span.gglpls {
           color: #f34a38;
       }

       .social_media ul li a span.ytube {
           color: #f61c0d;
       }

       .social_media ul li a span.insta i {
           background: #d6249f;
           background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #fff 90%);
           box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
           color: #fff;
           overflow: hidden;
           border-radius: 50%;
       }

       .social_media ul li a:hover span.fb {
           color: #fff;
           background: #475993;
       }

       .social_media ul li a:hover span.twt {
           color: #fff;
           background: #2c7ee6;
       }

       .social_media ul li a:hover span.lnkdin {
           color: #fff;
           background: #0077b7;
       }

       .social_media ul li a:hover span.gglpls {
           color: #fff;
           background: #f34a38;
       }

       .social_media ul li a:hover span.ytube {
           background: #f61c0d;
           color: #fff;
       }

       .social_media ul li a:hover span.insta {
           background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

       }

       .insta img {
           width: 19px;
           margin: -6px 0 0;
       }

       .pagination_div {
           width: 100%;
           overflow: hidden;
           margin: 30px 0 0;
       }

       .pagination_div ul {}

       .pagination_div ul li {
           float: left;
           margin: 0 10px 0 0;
       }

       .pagination_div ul li a {
           display: inline-block;
           width: 45px;
           height: 45px;
           line-height: 42px;
           text-align: center;
           background: #ededed;
           border-radius: 6px;
           color: #3a3a3a;
           font-size: 30px;
           font-weight: 600;
       }

       .pagination_div ul li.active a,
       .pagination_div ul li a:hover,
       .pagination_div ul li a:focus {
           color: #fff;
           background: #148fcf;
       }

       .single_blogs .blg_box:last-child {
           margin: 0;
       }



       /*******************************************Contact Page*************************************************/

       .contact_section {
           padding: 115px 0 0;
       }

       .contact_section h2 {
           font-size: 35px;
           color: #58585a;
           font-weight: 600;
           text-transform: uppercase;
           margin: 0 0 30px;
           letter-spacing: 2px;
       }

       .cntct_information {
           margin: 0px 0 0;
           padding: 0 0 0 8.33333333%;
       }

       .info_bar {
           display: block;
           width: 100%;
           padding: 0 0 27px;
           margin: 25px 0 0;
           border-bottom: 1px solid #d4d4d4;
       }

       .info_bar h4 {
           font-size: 21px;
           color: #58585a;
           font-weight: 600;
           text-transform: uppercase;
           margin: 0 0 12px;
       }

       .info_bar p {
           font-size: 18px;
       }

       .info_bar a {
           font-size: 18px;
           color: #58585a;
           font-weight: 300;
       }

       .info_bar a.frwrd_mail {
           color: #1e90cf;
       }

       .info_bar .fa.fa-commenting {
           color: #1e90cf;
           margin: 0 5px 0 0;
       }

       .cntct_bar {
           display: block;
           width: 100%;
           padding: 0 0 27px;
           margin: 25px 0 0;
           border-bottom: 1px solid #d4d4d4;
       }

       .cntct_bar:last-child {
           border: 0 none;
           padding: 0;
       }

       .cntct_bar span {
           display: inline-block;
           width: 8%;
           vertical-align: top;
           margin: 5px 0 0;
       }

       .info {
           display: inline-block;
           width: 90%;
       }

       .info h5 {
           font-size: 21px;
           color: #58585a;
           text-transform: uppercase;
           margin: 0 0 5px;
           line-height: 1.4;
       }

       .info p {
           font-size: 18px;
           color: #58585a;
           font-weight: 300;
           line-height: 1.4;
       }

       .info p a {
           color: #58585a;
       }

       .info p a:hover,
       .info p a:focus {
           color: #148fcf;
       }

       .cntct_bar span i.map-marker img {
           width: 25px;
       }

       .cntct_bar span i.mobile img {
           width: 20px;
       }

       .cntct_bar span i.envelope img {
           width: 27px;
       }

       .cntct_form {
           border: 8px solid #d9d9d9;
           padding: 45px 55px;
       }

       .cntct_form label {
           display: block;
           text-transform: capitalize;
           color: #767676;
           font-size: 14px;
           margin: 0 0 7px;
           font-weight: 300;
       }

       .cntct_form .form-group .form-control {
           height: 38px;
           padding: 0 15px;
           border: 1px solid #d6d6d6;
           border-radius: 0;
           box-shadow: none;
       }

       .cntct_form .form-group textarea.form-control {
           width: 100%;
           resize: none;
           height: 115px;
           padding: 15px;
       }

       .cntct_form .form-group .form-control:focus {
           border-color: #1e90cf;
       }

       .cntct_form input[type="submit"],
       .cntct_form input[type="button"] {
           background: #1e90cf;
           border: 0 none;
           color: #fff;
           width: 210px;
           height: 57px;
           font-weight: 600;
           font-size: 20px;
           text-transform: uppercase;
           text-align: center;
           margin: 13px 0 0;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
       }

       .cntct_form input[type="submit"]:hover,
       .cntct_form input[type="button"]:hover,
       .cntct_form input[type="submit"]:focus,
       .cntct_form input[type="button"]:focus {
           background: #787879;
       }

       .cntct_form input[type="text"] {
           text-transform: capitalize;
       }

       .map_area {
           margin: 100px 0 0 0;
           width: 100%;
       }

       .map_area iframe {
           width: 100%;
           height: 615px;
       }

       .internal_page {
           padding: 98px 0;
           background-size: cover !important;
           background-repeat: no-repeat !important;
       }

       .internal_page h4 {
           font-size: 21px;
           color: #58585a;
           font-weight: 300;
           line-height: 1.4;
       }

       .copyright h4 {
           margin: 0 0 20px;
       }

       .internal_page ul {
           margin: 0;
           padding: 0;
       }

       .internal_page ul li {
           font-size: 16px;
           color: #58585a;
           font-weight: 300;
           line-height: 1.6;
           padding: 0 0 0 40px;
           position: relative;
           margin: 0 0 30px;
       }

       .internal_page ul li::before {
           content: "";
           position: absolute;
           top: 10px;
           width: 8px;
           height: 8px;
           left: 0;
           background: #148fcf;
           transform: rotate(45deg);
           -webkit-transform: rotate(45deg);
       }

       .internal_page ul li:last-child {
           margin: 0;
       }

       .srvc_inner {}

       .srvc_inner .box {
           width: 18.65%;
           float: left;
           margin: 0 24px 0 0;
           height: auto;
           min-height: 642px;
           padding: 20px 30px 40px;
           border-color: #fff;
       }

       .srvc_inner .box:last-child {
           margin: 0;
       }

       .internal_page.srvc_inner ul li {
           padding: 0;
           text-align: left;
           color: #fff;
       }

       .internal_page.srvc_inner ul li:before {
           display: none;
       }

       .internal_page.srvc_inner ul li i {
           width: 15%;
           display: inline-block;
       }

       .internal_page.srvc_inner ul li span {
           display: inline-block;
           width: 78%;
           vertical-align: top;
       }

       .our_services.srvc_inner h3 {
           margin: 10px 0;
           color: #fff;
       }

       .sample_projects {
           padding: 90px 0;
           text-align: center;
       }

       .sample_projects h2 {
           margin: 0 0 45px;
       }

       .sample_projects ul {}

       .sample_projects ul li {
           float: left;
           width: 24.9%;
           margin: 0 0.1% 0.1% 0;
       }

       .sample_projects ul li:nth-child(4n) {
           margin-right: 0;
       }

       /*******************************************MODAL CSS STARTS HERE*************************************************/

       .modal-open .modal {
           overflow: hidden !important;
       }

       .modal-dialog {
           max-width: 705px;
           margin: 0 auto;
           width: 90%;
           top: 50%;
           transform: translateY(-50%) !important;
           -webkit-transform: translateY(-50%) !important;
           position: absolute;
           left: 0;
           right: 0;
       }

       .modal-content {
           background: #2c9ad4;
           background: linear-gradient(to top left, #148fcf 50%, #2c9ad4 50%);
           background: -webkit-linear-gradient(to top left, #148fcf 50%, #2c9ad4 50%);
           border-radius: 0;
           padding: 55px 100px;
           text-align: center;
       }

       .modal-title {
           font-size: 36px;
           text-transform: uppercase;
           color: #fff;
           font-weight: 600;
           letter-spacing: 3px;
           margin: 0 0 35px;
       }

       .close {
           float: right;
           font-size: 21px;
           font-weight: 700;
           color: #148fcf;
           text-shadow: none;
           filter: inherit;
           opacity: 1;
           border: 3px solid #148fcf;
           position: absolute;
           right: -10px;
           top: -10px;
           background: #fff;
           width: 40px;
           height: 40px;
           text-align: center;
           line-height: 32px;
           border-radius: 50%;
       }

       .close:focus,
       .close:hover {
           color: #fff;
           text-decoration: none;
           cursor: pointer;
           filter: inherit;
           opacity: 1;
           background: #148fcf;
           border-color: #fff;
       }

       .modal-header {
           min-height: auto;
           padding: 0;
           border-bottom: 0 none;
       }

       .modal-body {
           padding: 0;
       }

       .modal label {
           font-size: 17px;
           color: #fff;
           font-weight: 300;
           text-transform: capitalize;
           margin: 0 0 10px;
           text-align: left;
           display: block;
       }

       .modal .form-control {
           height: 50px;
           border: 1px solid #fff;
           color: #fff;
           padding: 0 15px;
           width: 100%;
           background: none;
           border-radius: 0;
       }

       .modal input[type="button"],
       .modal input[type="submit"] {
           background: #fff;
           border: 2px solid #fff;
           color: #148fcf;
           font-size: 26px;
           font-weight: 600;
           width: 200px;
           height: 62px;
           text-align: center;
           margin: 55px auto 0;
           display: block;
           text-transform: uppercase;
           transition: all 0.3s ease-in-out;
           -webkit-transition: all 0.3s ease-in-out;
           letter-spacing: 2px;
       }

       .modal input[type="button"]:hover,
       .modal input[type="submit"]:hover,
       .modal input[type="button"]:focus,
       .modal input[type="submit"]:focus {
           background: #148fcf;
           color: #fff;
       }

       .social_login {
           overflow: hidden;
           margin: 0 0 30px;
       }

       .social_login a {
           width: 48%;
           padding: 20px 0;
           color: #fff;
           font-size: 18px;
       }

       .social_login a i {
           margin: 0 7px 0 0
       }

       .fb_btn {
           background: #29487d;
           float: left;

       }

       .ggl_btn {
           background: #e1000e;
           float: right;
       }

       .frgt {
           font-size: 17px;
           color: #fff;
           font-weight: 300;
           text-transform: capitalize;
           display: inline-block;
           text-align: center;
           margin: 45px auto 0;
           position: relative;
       }

       .frgt::after {
           position: absolute;
           content: "";
           width: 136px;
           height: 1px;
           background: #acd1ea;
           bottom: -1px;
           left: 0;
           right: 0;
           margin: auto;
       }

       .frgt::before {
           position: absolute;
           content: "";
           width: 136px;
           height: 1px;
           background: #93c4e5;
           bottom: 0;
           left: 0;
           right: 0;
           margin: auto;
       }

       .frgt:hover,
       .frgt:focus {
           color: #fff;
           letter-spacing: 3px;
       }

       #sbscribe_ltr .modal-title {
           margin: 0;
       }

       #sbscribe_ltr .modal-header p {
           margin: 0;
           text-transform: uppercase;
           font-weight: 600;
           margin: 0 0 40px;
           letter-spacing: 1px;
       }

       .modal p {
           font-size: 18px;
           color: #fff;
           font-weight: 300;
           text-transform: capitalize;
           display: inline-block;
           text-align: center;
           margin: 20px 0 0;
       }

       .modal p.check_text {
           font-size: 14px;
           color: #fff;
           font-weight: 300;
           text-align: left !important;
           display: block;
           margin: 0;
       }

       .check_text input[type="checkbox"] {
           border: 0 none;
           box-shadow: none;
           position: relative;
           top: 1px;
           display: inline-block;
           margin: 0 5px 0 0;
       }

       .modal p a {
           color: #fff;
           position: relative;
       }

       .modal p a:after {
           position: absolute;
           content: "";
           width: 85px;
           height: 1px;
           background: #fff;
           bottom: 0px;
           left: 0;
           right: 0;
           margin: auto;
       }

       .signup {
           margin-top: 40px !important;
       }

       #select_country button {
           width: 100%;
           background: #fff !important;
           height: 50px;
           border: 1px solid #ddd;
           border-radius: 0;
           box-shadow: none;
       }

       #select_country button span {
           float: left;
       }

       #select_country button span.caret {
           float: right;
           top: 4px;
       }

       #currency .modal-dialog {
           max-width: 506px;
           left: auto;
           right: 14.7%;
           top: auto;
           transform: none !important;
           -webkit-transform: none !important;
           margin: 44px 0 0 0;
       }

       #currency .modal-dialog .modal-content {
           background: #ffffff;
           padding: 50px 65px;
       }

       #currency .modal-dialog .modal-content label {
           color: #58585a;
           font-size: 16px;
           text-transform: capitalize;
       }

       #currency select {
           width: 100%;
           height: 50px;
           border: 1px solid #ddd;
           padding: 0 15px;
           -webkit-appearance: none;
           -moz-appearance: none;
           -ms-appearance: none;
           background: url(../images/select.png) no-repeat scroll right center;
       }

       }

       select::-ms-expand {
           display: none;
       }

       .button-group {
           margin: 35px 0 0;
           width: 100%;
           overflow: hidden;
       }

       .button-group a {
           float: left;
           vertical-align: middle;
           color: #000;
           text-transform: uppercase;
           font-size: 16px;
           font-family: 'FuturaPT-Light';
           position: relative;
           margin: 18px 0 0;
       }

       .button-group a:after {
           content: "";
           position: absolute;
           left: 0;
           width: 64px;
           height: 1px;
           bottom: 2px;
           background: #000;
       }

       .updt_btn {
           float: right !important;
           vertical-align: middle;
           margin: 0 !important;
           background: #148fcf !important;
           color: #fff !important;
           font-size: 15px !important;
           letter-spacing: 1px !important;
           font-family: 'FuturaPT-Medium';
       }

       #currency .close {
           background: none;
           border: 0;
           color: #616163;
           font-size: 25px;
           top: 5px;
           right: 5px;
           margin: 0;
       }

       #select_country button span.caret::before {
           color: #58585a;
           font-size: 16px;
           right: 10px;
           font-weight: 700;
       }

       /********************************************************************** End Modal CSS *****************************************************************/

       .products {
           padding: 100px 0;
           text-align: center;
       }

       .products h3 {
           text-transform: uppercase;
           font-size: 24px;
           color: #58585a;
           margin: 0 0 15px;
           line-height: 1.3;
           font-weight: 600;
       }

       .products figure {
           position: relative;
       }

       .products figure:after {
           content: "";
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.52);
       }

       .p_box {
           position: relative;
           overflow: hidden;
           margin: 0 0 50px;
       }

       .prodct_img {
           position: absolute;
           top: -65px;
           left: 0;
           right: 0;
       }

       .outer_cover {
           margin: 0 0 0;
           padding: 80px 40px 35px;
           background: #f7f7f7;
           position: relative;
       }

       .outer_cover .btn1,
       .outer_cover .btn2 {
           width: 170px;
       }

       .single_product {}

       .single_product h2 {
           font-size: 51px;
           color: #58585a;
           text-transform: uppercase;
           letter-spacing: 2px;
           font-family: 'FuturaPT-Medium';
           margin: 0 0 28px;
       }

       .box-50 {
           background: #f7f7f7;
           padding: 60px 10px;
           overflow: hidden;
       }

       .box-50 figure {
           width: 50%;
           float: left;
           height: 100%;
       }

       .drone_info {
           float: left;
           width: 50%;
           padding: 0 40px 0 0;
       }

       .drone_info h3 {
           font-size: 24px;
           color: #58585a;
           text-transform: uppercase;
           font-family: 'FuturaPT-Medium';
           margin: 0 0 15px;
       }

       .drone_info h3 a {
           color: #58585a;
       }

       .drone_info h3 a:hover,
       .drone_info h3 a:focus {
           color: #148fcf;
       }

       .drone_info {
           color: #58585a;
           font-size: 16px;
           line-height: 1.6;
           font-family: 'Open Sans', sans-serif;
           font-weight: 300;
       }

       .accessories {
           margin: 78px 0 0;
       }

       .box-25 {
           background: #f7f7f7;
           width: 100%;
           height: auto;
           text-align: center;
           padding: 45px;
           min-height: 325px;
       }

       .box-25 figure {
           height: 180px;
       }

       .box-25 h3 {
           font-size: 18px;
           color: #58585a;
           text-transform: uppercase;
           font-family: 'FuturaPT-Medium';
           margin: 0 0 15px;
       }

       .box-25 h3 a {
           color: #58585a;
       }

       .box-25 h3 a:hover,
       .box-25 h3 a:focus {
           color: #148fcf;
       }

       .info_caption1 {
           position: absolute;
           bottom: -90px;
           left: 0;
           width: 710px;
           background: #f7f7f7;
           padding: 80px 25px;
       }

       .lt {
           width: 50%;
           float: left;
           height: 100%;
       }

       .rt {
           width: 50%;
           float: left;
           padding: 0 0px 0 50px;
       }

       .rt h3 {
           font-size: 24px;
           color: #58585a;
           text-transform: uppercase;
           font-family: 'FuturaPT-Medium';
       }

       .rt p {
           font-size: 16px;
           color: #58585a;
           line-height: 1.6;
           margin: 13px 0 24px;
           font-family: 'Open Sans', sans-serif;
           font-weight: 300;
       }

       .rt h3.p_price {
           color: #1e90cf;
       }

       .detail_product {
           padding: 180px 0 110px;
       }

       .product_view #big1 .item {
           border: 1px solid #efefef;
           padding: 60px 30px !important;
       }

       #thumbs1 .item {
           background: none;
           height: 144px;
           line-height: normal;
           padding: 0px;
           margin: 0 10px;
           border-radius: 0;
           text-align: center;
           cursor: pointer;
           width: 170px;
           border: 2px solid #d7d8d8;
           background: none;
           position: relative;
       }

       #thumbs1 .item img {
           position: absolute;
       }

       #thumbs1 .current .item {
           background: none;
           border: 2px solid #148fcf;
       }

       .product_view #thumbs1 {
           padding: 40px 24px;
       }

       #thumbs1 .owl-prev {
           left: 0;
           font-size: 22px;
           background: none !important;
           padding: 0 !important;
           margin: 0 !important;
           line-height: normal !important;
           height: auto !important;
       }

       #thumbs1 .owl-next {
           right: 0;
           font-size: 22px;
           background: none !important;
           padding: 0 !important;
           margin: 0 !important;
           line-height: normal !important;
           height: auto !important;
       }

       #thumbs1 .item img {
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           -webkit-transform: translateY(-50%);
           text-align: center;
       }

       .product_view #big1 .item:before {
           display: none;
       }

       #big1 .owl-nav {
           display: none;
       }

       .product_full_spec {}

       .product_full_spec h2 {
           font-size: 24px;
           color: #58585a;
           text-transform: uppercase;
           font-family: 'FuturaPT-Medium';
           margin: 0 0 13px;
       }

       .product_full_spec h2.amnt {
           color: #1e90cf;
       }

       .product_full_spec ul.ship_tax {
           margin: 20px 0 30px;
           padding: 0;
           width: 100%;
           display: block;
           overflow: hidden;
       }

       .product_full_spec ul.ship_tax li {
           float: left;
           margin: 0 17px 0 0;
           border-right: 1px solid #a7a7a8;
           padding: 0 17px 0 0;
           line-height: 1.2;
       }

       .product_full_spec ul.ship_tax li:last-child {
           margin: 0;
           padding: 0;
           border: 0 none;
       }

       .prdct_dtls {
           margin: 35px 0 0;
           border-top: 1px solid #e5e5e5;
           padding: 35px 0 0;
       }

       .prdct_dtls li {
           float: left;
           width: 50%;
           margin: 0 0 25px;
           min-height: 82px;
       }

       .prdct_dtls .icon {
           display: inline-block;
           vertical-align: top;
           width: 20%;
           margin: 4px 0 0;
       }

       .prdct_dtls .information {
           display: inline-block;
           width: 70%;
           vertical-align: top;
       }

       .prdct_dtls li p {
           font-size: 16px;
       }

       .prdct_dtls li p strong {
           font-family: 'FuturaPT-Medium';
           font-weight: normal;
           color: #58585a;
           font-size: 16px;
       }

       .extra_rqrmnt {
           overflow: hidden;
           padding: 15px 0;
           border-top: 1px solid #e5e5e5;
           border-bottom: 1px solid #e5e5e5;
           display: block;
           width: 100%;
       }

       .extra_rqrmnt label {
           font-size: 20px;
           color: #58585a;
           text-transform: uppercase;
           font-family: 'Open Sans', sans-serif;
           font-weight: 600;
           display: inline-block;
           vertical-align: middle;
           margin: 0 15px 0 0;
       }

       .extra_rqrmnt select {
           width: 153px;
           height: 47px;
           border: 1px solid #bbbcbc;
           display: inline-block;
           vertical-align: middle;
       }

       .offers {
           background: #ecf6fe;
           margin: 35px 0 0;
           padding: 25px 25px 15px;
       }

       .offers ul {
           margin: 0;
           padding: 0;
       }

       .offers ul li {
           font-size: 16px;
           color: #58585a;
           font-weight: 300;
           position: relative;
           margin: 0 0 10px;
           padding: 0 0 0 20px;
           line-height: 1.5;
       }

       .offers ul li:before {
           content: "";
           background: #1e90cf;
           width: 6px;
           height: 6px;
           border-radius: 50%;
           position: absolute;
           top: 9px;
           left: 0;
       }

       .hire_btn {
           display: block;
           font-weight: 600;
           color: #fff;
           background: #148fcf;
           width: 155px;
           text-align: center;
           height: 47px;
           line-height: 47px;
           text-transform: uppercase;
           margin: 40px 0 25px;
       }

       .dactivate_timing {
           border: 1px solid #c5c5c5;
           padding: 20px 25px 10px;
           overflow: hidden;
       }

       .qty_sec {
           float: left;
           margin: 20px 20px 0 0;
       }

       .qty_sec label,
       .date_sec label {
           display: inline-block;
           vertical-align: middle;
           font-weight: 600;
           color: #58585a;
           font-size: 20px;
           text-transform: uppercase;
           margin: 0 15px 0 0;
       }

       .qty_sec select,
       .date_sec select {
           display: inline-block;
           vertical-align: middle;
           width: 80px;
           height: 47px;
           border: 1px solid #bbbcbc;
       }

       .date_sec {
           float: left;
       }

       .time_period {
           display: inline-block;
           vertical-align: middle;
       }

       .from,
       .to {
           display: inline-block;
           margin: 0 10px 0 0;
       }

       .time_period span {
           display: block;
       }

       .date_sec label {
           margin-top: 19px;
       }

       .faq {
           padding: 115px 0;
       }

       .nav-tabs {
           border-bottom: 0 none;
       }

       .nav-tabs li {
           margin: 0 25px 0 0;
       }

       .nav-tabs li:last-child {
           margin: 0 !important;
       }

       .nav-tabs li.active::after {
           content: "";
           position: absolute;
           bottom: -9px;
           left: 0;
           right: 0;
           width: 18px;
           height: 18px;
           margin: auto;
           background: #148fcf;
           transform: rotate(45deg);
           -webkit-transform: rotate(45deg);
           z-index: 0;
       }

       .nav-tabs li a {
           margin-right: 0;
           line-height: 1.42857143;
           border: 1px solid #a3a3a3 !important;
           border-radius: 0;
           width: 174px;
           height: 155px;
           text-align: center;
           font-size: 20px;
           color: #58585a;
           font-weight: 600;
           text-transform: uppercase;
           line-height: 1.3;
           position: relative;
           z-index: 2;
           background: #fff !important;
       }

       .nav-tabs li a span {
           display: block;
           height: 60px;
           width: 100%;
           margin: 20px 0 0 0;
       }

       .nav-tabs li.active a,
       .nav-tabs li.active a:focus,
       .nav-tabs li.active a:hover,
       .nav-tabs li a:focus,
       .nav-tabs li a:hover {
           border-color: #148fcf !important;
           background: #fff !important;
       }

       .tab-content {
           padding: 70px 0 0;
       }

       .panel-title a {
           display: block;
           width: 100%;
           position: relative;
           background: #f2f2f2;
           border-radius: 0;
           padding: 25px 10px 24px 100px;
           color: #363636;
           font-weight: 600;
           font-size: 19px;
           text-transform: uppercase;
       }

       #faq-accordion .panel-heading a.collapsed::before {
           content: url("../images/plus-icon.png");
           background: #148fcf;
           height: 70px;
           width: 75px;
           text-align: center;
           top: 0;
           line-height: 76px;
       }

       #faq-accordion .panel-heading a::before {
           content: url("../images/minus-icon.png");
           display: block;
           left: 0;
           margin: 0;
           position: absolute;
           background: #148fcf;
           height: 70px;
           width: 75px;
           text-align: center;
           top: 0;
           line-height: 76px;
       }

       .panel-heading {
           padding: 0;
           border-radius: 0;
           border: 0;
       }

       .panel-default,
       .panel-default > .panel-heading,
           {
           border: 0 !important;
           box-shadow: none !important;
       }

       .panel-body {
           border: 1px solid #ececec !important;
           padding: 32px 20px 32px 100px;
           border-top: 0 none;
       }

       .return_policy {
           margin: 85px 0;
       }

       .tab-content h3 {
           font-size: 20px;
           color: #58585a;
           text-transform: uppercase;
           font-weight: 600;
           margin: 0 0 20px;
       }

       .floating {
           animation-name: floating;
           -webkit-animation-name: floating;
           animation-duration: 1.5s;
           -webkit-animation-duration: 1.5s;
           animation-iteration-count: infinite;
           -webkit-animation-iteration-count: infinite;
           animation-timing-function: ease-in-out;
           -webkit-animation-timing-function: ease-in-out;
       }

       @keyframes floating {
           from {
               transform: translate(0, 0px);
           }
           65% {
               transform: translate(10px, 0);
           }
           to {
               transform: translate(-0px, 0);
           }
       }

       @-webkit-keyframes floating {
           from {
               transform: translate(0, 0px);
           }
           65% {
               transform: translate(10px, 0);
           }
           to {
               transform: translate(-0px, 0);
           }
       }
/**** Thank You ****/

.thank_main_section .blog_main_img {
    height: 200px;
}
.thank_main_section h2 {
    color: #2da725;
    font-size: 54px;
    font-weight: 700;
}
.thank_main_section {
    display: block;
    float: left;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 50px 0 0;
}

.thank_main_section .tahnk_you_box {
    display: block;
    padding: 70px 0;
    width: 100%;
}

.thank_main_section .tahnk_you_box h1 {
    margin-bottom: 50px;
}

.thank_main_section .tahnk_you_box h1 i {
    border: 4px solid #2da725;
    border-radius: 100px;
    color: #2da725;
    font-size: 70px;
    height: 120px;
    line-height: 115px;
    width: 120px;
}

.thank_main_section .tahnk_you_box p {
    background: rgba(115, 208, 156, 0.4) none repeat scroll 0 0;
    border: 1px solid #2da725;
    border-radius: 4px;
    color: #2da725;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
       /*******************************************MEDIA QUERY STARTS HERE*************************************************/

       @media (min-width: 1500px) {
           .container {
               width: 1470px;
           }


           .abt_cntent {
               width: 58%;

           }
           .title {
               font-size: 38px;
           }

       }

       @media (max-width:1499px) {
           .home-banner {
               height: 600px;
           }
           .drone_img {
               top: 170px;
               width: 52%;
           }
           .nav_part ul li {
               margin: 0 0 0 35px;
           }
           .title {
               font-size: 38px;
           }
           .copyright_div .col-md-3:first-child {
               padding-right: 0;
               width: 28%;
           }
           .copyright_div .col-md-3:last-child {
               width: 22%;
               padding-left: 0;
           }
           .copyright_div p,
           .copyright_div a {

               font-size: 14px;
           }
           .copyright_div .scl_links li a {
               font-size: 16px;
           }
           .page-banner {
               height: 360px;
               position: relative;
               overflow: hidden;
           }
           .page-banner .drone_img {
               top: 75px;
           }
           .outer_cover {
               padding: 80px 20px 35px;
           }
           .outer_cover .btn1,
           .outer_cover .btn2 {
               width: 145px;

           }
           .btn1 {
               margin: 0 10px 0 0;
           }
           .contact_section h2 {
               font-size: 30px;
           }
           .abt_cntent {
               width: 57%;

           }
           .info_bar h4 {
               font-size: 18px;
           }
           .info_bar p,
           .info_bar a {
               font-size: 15px;
           }
           .box15 a {
               font-size: 16px;
           }
           .srvc_inner .box {
               width: 18.3%;
               padding: 20px 15px 40px;
           }
           .our_services h3 {
               font-size: 17px;
           }
           .internal_page ul li {
               font-size: 15px;
           }
       }
